<div class="px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="flex items-center justify-between mb-8">
    <h1 class="text-3xl font-bold">文章</h1>
    <% if current_user %>
      <%= link_to '写新文章', new_admin_post_path, class: 'bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md' %>
    <% end %>
  </div>
  <div class="mb-8">
    <p>这里记录了我的点点滴滴</p>
  </div>

  <div class="">
    <% @posts.each do |post| %>
      <article class="mb-6 overflow-hidden transition-all duration-300 ease-in-out transform bg-white rounded-lg hover:-translate-y-1 hover:shadow-lg">
        <div class="p-6">
          <h2 class="mb-2 text-xl font-semibold">
            <%= link_to post.title, post_path(post), class: "hover:text-blue-500 hover:decoration-dashed hover:underline hover:underline-offset-4 " %>
          </h2>
          <div class="mb-4 prose text-gray-600 max-w-none"><%= truncate(strip_tags(post.rendered_content), length: 150) %></div>
          <div class="flex items-center justify-end text-sm text-gray-500">
            <span><%= post.created_at.strftime("%Y-%m-%d") %></span>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>